#showWeather {
    min-width: 200px;
    padding: 0.5em;
}

#showWeather p {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

#showWeather ul {
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3em;
    padding-left: 0;
}


#showWeather ul li {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 20px;
    background: #ffffff54;
    box-shadow: 1px 1px 5px 0px #000;
}


#showWeather ul li span {
    margin: 0.1em 0em;
}

#showWeather #date {
    font-weight: bold;
    text-decoration: underline;
}

#showWeather #min {
    color: blue;
}

#showWeather #max {
    color: red;
}

@media screen and (max-width: 1024px) {
    #showWeather ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    #showWeather ul {
        grid-template-columns: repeat(1, 1fr);
    }
}